<% if user_signed_in? %>
 <li class="light-blue">
  <a data-toggle="dropdown" href="#" class="dropdown-toggle">
    <img class="nav-user-photo" src="assets/avatars/user.jpg" alt="Jason's Photo" />
    <span class="user-info">
      <small>Welcome,</small>
      <%= current_user.email %>
    </span>

    <i class="ace-icon fa fa-caret-down"></i>
  </a>

  <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
    <li>
      <a href="#">
        <i class="ace-icon fa fa-cog"></i>
        Settings
      </a>
    </li>

    <li>
      <a href="profile.html">
        <i class="ace-icon fa fa-user"></i>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
      </a>
    </li>

    <li class="divider"></li>

    <li>
      <a href="#">
        <i class="ace-icon fa fa-power-off"></i>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      </a>
    </li>
  </ul>
 </li>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

